<div class="collection-section">
  <h1 class="collection-title-text">Collections</h1>
</div>
<div class="seperator"></div>
<div class="collection-section product-description">
  {% for collection in collections %}
    <div class="collections-item">
      <a href="{{ collection.url }}">
        <div class="collections-grid">
          {% if collection.image %} {{ collection.image | img_url: '128x128', crop:'center' | img_tag }}
          {%- else -%} {{ collection.products[0].featured_image | img_url: '128x128', crop:'center' | img_tag }}
          {% endif %}
          <h2 class="collections-item-name">{{ collection.title }}</h2>
          <p class="collections-description">{{ collection.description }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>