<div class="product-section">
  <div class="product-container">
    <div class="product-half product-pictures">
      <div class="product-big-picture">
        {% assign id = 1 %}
        {% for picture in product.images %}
          <div id="product-big-image-{{ id }}" {% unless forloop.first %} class="hide" {% endunless %} >{{ picture | img_url: '512x512', crop:'center' | img_tag }}</div>
          {% assign id = id | | plus: 1 %}
        {% endfor %}
      </div>
      <div class="product-small-pictures-container">
        {% render 'product_images', id:1 %}
      </div>
    </div>
    <div class="product-half">
      <h1 class="product-name text">{{ product.title }}</h1>
      <p class="product-price text">{{ product.price | money }}</p>
      <div class="seperator"></div>
      <div class="product-form">
      {% form "product", product %}
        {% assign firstVariant = product.variants | first %}
        <div {% if firstVariant.title == "Default Title" %} class="size-picker hide" {% else %} class="size-picker" {% endif %}>
          <label class="product-label" for="size-button">Select a size</label>
          <select id="size-button" class="size-button" name="id">
            {% for variant in product.variants %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}  value="{{ variant.id }}">{{ variant.title }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="quantity-picker">
          <label class="product-label" for="product-quantity">Quantity</label>
          <input id="product-quantity" class="product-quantity-picker" type="number" name="quantity" value="1" min="1">
        </div>
        <input id="product-cart-button" class="product-add-cart" type="submit" value="Add to cart">
      {% endform %}
      </div>
      <div class="seperator"></div>
      {% if product.description %}
        <p class="product-description">{{ product.description }}</p>
      {% endif %}
    </div>
  </div>
</div>